:root {
    --sidebar-width: 500px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
}

:root code {
    border-radius: 10px;
    box-shadow: 7px 7px 15px rgb(66 68 73 / 50%);
}

:root blockquote {
    border-radius: 10px;
}

:root img {
    border-radius: 10px;
}