:root {
    --color-primary: hsl(271, 76%, 53%);
    --color-secondary: hsl(270, 80%, 30%);
    --color-accent: hsl(270, 80%, 15%);

    --color-html: hsl(230, 13%, 9%);
    --color-href: hsl(271, 76%, 53%);
    --color-appNav: hsla(271, 74%, 56%, 0.9);
    --color-text-button: white;

    --color-scrollbar-thumb: var(--color-primary);
    --color-scrollbar-track: black;

    /* Fonts */
    --font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root code {
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px rgb(0 0 0 / 50%);
}

:root blockquote {
    border-radius: 10px;
}

:root img {
    border-radius: 10px;
}


/* UI Elements */

a {
    color: inherit;
    outline: none !important;
    text-decoration: none;
    position: relative;
}

input
[search]::before {
    content: '';
}

main {
    z-index: -1;
    a {
        color: var(--color-href);
        outline: none !important;
        text-decoration: none;
        position: relative;
    }
    
    a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    button {
        color: inherit;
        outline: none !important;
        border-radius: 10px;
    }
}