/* Foreword (Home) page */

.bdfd-is {
    text-align: center;
    font-size: 110%;
    border: solid;
    border-width: 0;
    background: var(--color3);
    margin-top: 1rem;
    padding-bottom: 20px;
    padding-top: .02px;
    border-radius: 10px;
}

.getHelp {
    border-radius: 50px;
    border: solid;
    border-width: 0;
    background-color: var(--color2);
    padding: 0 10px 0 10px;
}

bold {
   font-weight: 800; 
}

.getHelp i {
    padding-right: .3rem;
}

.getHelp :link {
    color: #fff !important;
    font-weight: 700;
}
