/* Foreword (Home) page */

.bdfd-is {
    text-align: center;
    font-size: 110%;
    border: solid;
    border-width: 0;
    background: var(--color3);
    margin-top: 1rem;
    padding-bottom: 20px;
    padding-top: .02px;
    border-radius: 10px;
}

.homeButtons {
    user-select: none;
    -webkit-user-select: none;
}

.getHelp, .createMyBot {
    touch-action: manipulation;
    border-radius: 50px;
    border: solid;
    border-width: 0;
    background-color: var(--color2);
    font-weight: 700;
    padding: 0 10px 0 10px;
    transition: .3s;
}

.getHelp:hover, .createMyBot:hover {
    border-color: var(--color1);
    transform: scale(1.05);
    padding: 0 12px 0 12px;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: .3s;
}

bold {
   font-weight: 800; 
}

.getHelp i, .createMyBot i {
    padding-right: .3rem;
}

.getHelp a, 
.createMyBot a { 
  color: #fff !important;
  font-weight: 700;
}

.why-bdfd h1 {
    text-align: center;
}

.why-bdfd-embed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#title {
    font-weight: bold;
    font-size: 110%;
    margin-left: 25px;
    margin-bottom: -4.5rem;
    position: relative;
    top: -40px;
}


.hosting, .anywhere {
    touch-action: manipulation;
    white-space: normal;
    background: var(--color3);
    width: 45.5%;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    transition: .3s;
}

@media (max-width: 900px) {
    .hosting, .anywhere {
        width: 100%;
    }
}

.hosting:hover, .anywhere:hover {
    transform: scale(1.05);
    transition: .3s;
}
