.changelog {
    background: var(--color3);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 10px;
    border-top: 2px solid var(--color3);
    position: relative;
}

.changePrev {
    margin-top: 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--color1);
    border-radius: 10px;
    height: 10rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;
}

.changePrev:hover {
    border-color: var(--color2);
    transition: .3s;
}

.changePrev h2 {
    font-size: 200%;
}

.changePrev p {
    margin-top: -20px;
    margin-bottom: 85px;
}

.changePrev:hover > #newUpdate {
    background-color: var(--color2);
    transform: scale(1.05);
    transition: .3s;
}

#newUpdate {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--color1);
    padding: 5px 10px;
    border-radius: 10px;
    transition: .3s;
}

#newUpdate:before {
    content: '🔥'
}
