.breadcrumb {
    user-select: none;
    -webkit-user-select: none;
    display: -webkit-box;
    color: #fff;
    padding-top: 10px;
}

.breadcrumb :nth-child(n+3)::before {
    content: "/";
    margin: 0 2px;
}

.breadcrumb a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    transition: .3s;
    border-radius: 12px;
    text-transform: capitalize;
}

.breadcrumb a:hover{
    padding: 6px;
    font-size: 105%;
    text-decoration: none;
    transition: .3s;
    background-color: var(--sidebar-bg);
    border-radius: 10px;
}
